{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
	<div class="row">

	    <div class="col-md-6">
		<h1>Categories</h1>
		{% for category in categories %}
			<a href = "{{url_for('categoryItems', categoryName = category.name)}}">
				<h3>{{category.name}}</h3>
		    </a>
		{% endfor %}
	    </div>
     
	    <div class="col-md-6">
	        {%if 'email' in session %} 
               <a href="{{url_for('newItem')}}">add item</a>
            {% endif %}  
        <h1>Latest Items</h1>
	    {% for item in items %}
			<a href = "{{url_for('item', itemTitle = item.title, categoryName = item.category.name)}}">
				<h3>{{item.title}} ({{item.category.name}})</h3>
		    </a>
		{% endfor %}
        </div>

	</div>
</div>
{% endblock %}
