{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
	<div class="row">

	    <div class="col-md-6">
        <h1>Add Item</h1>
	        <form method = "post">
	        	<div class="form-group">
	        		<label>Title</label>
	        	    <input class="form-control" type="text" name="title" value="{{item.title}}">
	        	</div>

                <div class="form-group">
                	<label>Description</label>
	        		<textarea class="form-control" name="description">{{item.description}}</textarea>
                </div>

                <div class="form-group">
                	<label>Categories</label>
	        		<select id="category_id" class="form-control" name="category_id">
	        		{% for category in categories %}
					    <option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
	        	</select>
                </div>

	        	<button class="btn" type="submit">submit</button>
	        </form>
        </div>

	</div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script>
    	$("#category_id").val('{{item.category_id}}')
    </script>
{% endblock %}











